* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #222831;
    color: #eeeeee;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 1.2rem;
}

.min {
    min-width: 360px;
    max-width: 900px;
    margin: auto;
}

.titulo {
    padding: 1rem 0 1rem 0;
    text-align: center;
    font-size: 4rem;
}

.paragraph {
    padding-left: 1rem;
    padding-bottom: 3px;
}

.center {
    display: flex;
    justify-content: center;
    padding: 1rem 0 1rem 0;
}

canvas {
    background-color: white;
    border: 2px solid #ffa500;
    border-radius: 5px;
}